# dependencies
/node_modules

# logs
logs
*.log

# runtime data
pids
*.pid
*.seed
*.pid.lock

# build output
/dist

# IDE and editor files
/.vscode
/.idea
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.env